{% extends 'Base.html' %}
{% load static %}
 {% block title %}
    categorise
    {% endblock %}
    {% block content %}

        <h1 align="center" >This is Categorise Page</h1>
        <form>
            <div class="row">
                <div class="col-md-4">
                    <a href="http://127.0.0.1:8000/categorise/driving">
                        <img class="item"  style="height: 300px; width:300px;" src="{% static 'On_Demand_Service/images/services/driver.jpg' %}">
                        <p>Driver</p>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="http://127.0.0.1:8000/categorise/computer">
                        <img class="item" style="height: 300px; width:300px;" src="{% static 'On_Demand_Service/images/services/computer.jpg' %}">
                        <p>Computer</p>
                    </a>
                </div>
                 <div class="col-md-4">
                    <a href="http://127.0.0.1:8000/categorise/car-wash">
                        <img class="item" style="height: 300px; width:300px;" src="{% static 'On_Demand_Service/images/services/car-wash.jpg' %}">
                        <p>Car-wash</p>
                    </a>
                </div>
            </div>
        </form>
     {% endblock %}